:root {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

    --principal-color1: #00b3de;
    --principal-color2: #003c70;
    --secondary-color1: #8a8a8d;
    --secondary-color2: #4f2c7f;
    --background-card: #efefef;
}

@keyframes mySpinner {
    from {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(360deg);
    }
}



body {
    background-image: url("../images/fondo2.jpg");
    background-size: 100% 100%;
}

main {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}


.buttonPrincipal {
    height: 2.5em;
    width: 20vw;
    margin: 2vw;
    color: var(--background-card);
    background: var(--principal-color2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid var(--principal-color2);
    font-weight: bold;
    transition: all 1s ease;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonPrincipal:hover {
    height: 2.5em;
    width: 20vw;
    color: var(--background-card);
    background: var(--principal-color2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: var(--principal-color2);
    background: #ffff;
    border: 2px solid var(--principal-color2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bicho {
    height: 20vh;
    
}


/*--------------------------                     MOBILE                              ------------------------------ */

@media screen and (max-width: 768px) {

}
