<html>
    <head>
        {% block head %}
            {{ include('/parts/head.view.twig') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                <h1>{{ tituloView }}</h1>
               
            {% endblock %}
        </header>

        <main>
            {% block main %}
                
            {% endblock %}
        </main>
        
        <footer>
            {% block footer %}
                
            {% endblock %}
        </footer>
    </body>
</html>